In [2]:
import numpy as np# Importing every library we need

In [3]:
import seaborn as sns

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv("datasets.csv")

In [19]:
df.head()# shows the first five rows with all colmuns by default

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019

In [12]:
df.info()#tells the number of rows and colmuns of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60627 entries, 0 to 60626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   market place     60627 non-null  object
 1   Crop Variety     60627 non-null  object
 2   producer min     60627 non-null  float64
 3   producer max     60627 non-null  float64
 4   many min         60627 non-null  int64
 5   many max         60627 non-null  int64
 6   single min       60627 non-null  float64
 7   single max       60627 non-null  float64
 8   amount           60627 non-null  object
 9   collection date  60627 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 4.6+ MB

In [18]:
df.isnull().sum()# do we have empty or null value in the data ? 1 for yes 0 for no

market place       0
Crop Variety       0
producer min       0
producer max       0
many min           0
many max           0
single min         0
single max         0
amount             0
collection date    0
dtype: int64

In [16]:
df.head(100)# trying to print 100 rows of te data

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019
...,...,...,...,...,...,...,...,...,...,...
95,Debere Elias Gebeya,Red Teff (Quintal),1650.0,1700.0,0,0,1750.0,1760.0,Sufficient,4/20/2019
96,Wolaita Soddo,White Teff (Quintal),0.0,0.0,2700,2800,2800.0,2900.0,Under,4/20/2019
97,Wolaita Soddo,Red Teff (Quintal),0.0,0.0,1800,1900,2000.0,2100.0,Under,4/20/2019
98,Wolaita Soddo,Mixed Teff (Quintal),0.0,0.0,2300,2400,2400.0,2500.0,Under,4/20/2019
99,Hawassa,White Teff (Quintal),0.0,0.0,2800,2900,2950.0,3000.0,Sufficient,4/22/2019

In [17]:
df.columns# to see the columns of the data

Index(['market place ', 'Crop Variety', 'producer min', 'producer max',
       'many min', 'many max', 'single min', 'single max', 'amount',
       'collection date'],
      dtype='object')

In [21]:
data2 = df.copy()#incase something happends copy it to anothe store

In [22]:
data2 = data2.dropna()#if there was an empty row in the previos it would totally romove the row

In [23]:
data2.head(10)

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019
5,Bichena Gebeya,Mixed Teff (Quintal),2000.0,2100.0,0,0,2150.0,2310.0,Sufficient,4/2/2019
6,Kokit Metema Gebeya,White Teff (Quintal),0.0,0.0,2250,2250,2300.0,2300.0,Sufficient,4/2/2019
7,Kokit Metema Gebeya,Red Teff (Quintal),1800.0,1900.0,0,0,0.0,0.0,Under,4/2/2019
8,Debere Elias Gebeya,White Teff (Quintal),2150.0,2200.0,0,0,2230.0,2250.0,Under,4/2/2019
9,Kokit Metema Gebeya,Mixed Teff (Quintal),0.0,0.0,1900,2000,2050.0,2100.0,Sufficient,4/2/2019